    

    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-8 col-lg-offset-2 mt">
                    <h1 class="animation slideDown"> Vem pra nossa Agencia BL&turismo.</h1>

                </div>
            </div>

        </div>

    </div>
    <div class="container">

        <div class="row mt centered ">
            <div class="col-lg-4 col-lg-offset-4"
                 <div></div><h1>Que tal viaja o mundo pagando menos ?</h1>
                           
                <hr>
            </div>
        </div>


        <div class="row mt">
            <div class="col-lg-4 col-md-4 col-xs-12 desc">
                <a class="b-link-fade b-animate-go" href="#">
                    <img width="350" src="img/portfolio/port04.jpg" alt="" />
                    <div class="b-wrapper">
                       
                        
                    </div>
                </a>
                <p>AS MALDIVAS</p>
                <p class="lead">Um conjunto de 1190 ilhas de corais em pleno Oceano Índico, agrupadas numa cadeia de 27 atóis, que se estendem por 823 quilômetros de norte à sul, formam um dos destinos mais elegantes e exclusivos do planeta. As Maldivas. Apenas 250 dessas ilhotas são habitadas sendo que a maior delas - Male - é a capital, com dois míseros quilômetros quadrados de extensão. A capital em si não tem nada que mereça a visita, mas as ilhas... Uau!!! São tudo aquilo de que se ouve falar e mais um pouco. É uma pena que essa região paradisíaca tenha entrado em pauta nas discussões sobre meio ambiente quando se fala de aquecimento global. O derretimento das calotas polares pode fazer com que as Maldivas desapareçam no futuro. Isso atiçou ainda mais a curiosidade dos amantes da natureza. E as Maldivas passaram a receber olhares mais atentos nos últimos tempos.</p>

            </div>


            <div class="col-lg-4 col-md-4 col-xs-12 desc">
                <a class="b-link-fade b-animate-go" href="#">
                    <img width="350" src="img/portfolio/port05.jpg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03"></h4>
                       
                    </div>
                </a>
                <p>DUBAI (Emirados Árabes)</p>
                <p class="lead">Dubai é uma mega cidade plantada no deserto. Surgiu do nada e em menos de 50 anos se transformou num oásis repleto de arranha-céus gigantescos, avenidas exuberantes, ilhas artificiais, restaurantes fantásticos e muitos hotéis de luxo.</p>
                <hr-d>

            </div>


            <div class="col-lg-4 col-md-4 col-xs-12 desc">
                <a class="b-link-fade b-animate-go" href="#">
                    <img width="350" src="img/portfolio/port06.jpg" alt="" />
                    <div class="b-wrapper">
                                               
                    </div>
                </a>
                <p> MOSCOU (Rússia)</p>
                <p class="lead">É a terceira vez que visito esse país gigantesco situado a meio caminho entre Ásia e Europa - a Rússia - que sempre foi para mim um lugar cercado de mistérios. Em primeiro lugar porque desde pequena ouvia meus avós falando palavras que eu não conseguia entender e eles não faziam a menor questão de ensinar. Uma pena. Mas, fugir de um país em guerra deve ser realmente muito sofrido. E, além disso, politicamente, o país foi por muito tempo um enigma para o mundo. Aliado ou inimigo? Bom ou mau? O que importa é que tudo mudou. Passado o tempo cinzento que outrora viveu, Moscou agora brilha entre torres douradas e cúpulas coloridas. O ballet do Exército Vermelho que fez o mundo tremer foi substituído pela delicadeza dos passos do Bolshoi..</p>
                <hr-d>

            </div>
        </div>

    </div>


    <div id="cta01">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>A probabilidade de sucesso é difícil de estimar; <br /> mas se nunca pesquisarmos, a chance de sucesso é zero.</h2>

                </div>
            </div>

        </div>

    </div>

    <div class="container">
        <div class="row mt centered ">
            <div class="col-lg-4 col-lg-offset-4">

                <hr>
            </div>
        </div>

        <div class="row mt centered">
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="#">
                    <img width="350" src="img/portfolio/port01.jpg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03"></h4>
                        
                    </div>
                </a>
                <p>LENÇÓIS MARANHENSES<i class="fa fa-heart-o"></i></p>
                <p class="lead">É bem verdade que viajar por esse mundão faz parte da minha vida. Mas, sinceramente, posso afirmar que poucas paisagens naturais me causaram tanto impacto quanto a visão quase vertiginosa desse deserto "molhado" brasileiro. É de tirar o fôlego! Uma imensidão formada por dunas de areias brancas entremeadas por lagoas azuis cristalinas de águas pluviais. O resultado dessa combinação inusitada não poderia ser outro senão um cenário majestoso, imponente, surreal, inacreditável, esplêndido, quase uma miragem. Adjetivos demais? Certamente, não. Os Lençóis Maranhenses inspiram muito mais do que isso..</p>
            </div>
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="#">
                    <img width="350" src="img/portfolio/port02.jpg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03"></h4>
                       
                    </div>
                </a>
                <p>Jardim Botanico <i class="fa fa-heart-o"></i></p>
                <p class="lead">O próspero bairro residencial Jardim Botânico leva o mesmo nome do Jardim Botânico do Rio de Janeiro, onde os visitantes passeiam pela casa das orquídeas, palmeiras imperiais e vitórias-régias. Ali perto, no exuberante Parque Lage, estão as trilhas arborizadas que levam do Morro do Corcovado à estátua do Cristo Redentor e à floresta tropical do Parque Nacional da Tijuca. A área também tem bares chiques e restaurantes sofisticados famosos.</p>
            </div>
            <div class="col-lg-4 desc">
                <a class="b-link-fade b-animate-go" href="#">
                    <img width="350" src="img/portfolio/port03.jpg" alt="" />
                    <div class="b-wrapper">
                        <h4 class="b-from-left b-animate b-delay03"></h4>
                       
                    </div>
                </a>
                <p>A CIDADE PROIBIDA - <i class="fa fa-heart-o"></i></p>
                <p class="lead">Há onze anos, motivado exatamente por uma viagem a Pequim, esse blog passou a existir. Viajando em família, passamos cerca de um mês em Pequim, além de algumas outras cidades da China e  do Japão. Foi uma experiência muito marcante. As diferenças culturais para nossos filhos - que ainda não tinham se aventurado pela Ásia - foram extremamente enriquecedoras. Eram tantas novidades que só mesmo compartilhando o dia-a-dia na rede para acalmar os sentimentos em ebulição..</p>
            </div>
        </div>

        <div id="grey">
            <div class="container">
                <div class="row mt centered ">
                    <div class="col-lg-4 col-lg-offset-4">

                        <hr>
                    </div>

                </div>
                <div id="black">
                    <div class="container">
                        <div class="row mt centered">
                            <div class="col-lg-4 col-lg-offset-4">
                                <h3>Aqui voçe realiza seu sonho!!!</h3>
                                <hr>
                            </div>


                            <div id="cta02">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-8 col-lg-offset-2">
                                            <h2>“Metade do conhecimento consiste em saber onde encontrá-lo.” (Samuel Johnson, 1775)</h2>

                                        </div>
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
            <div id="white">
                <div class="container">
                    <div class="row mt">
                        <div class="col-lg-4 col-lg-offset-4 centered">
                            <h3>contato</h3>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8 col-md-offset-2">

                            <form class="contact-form php-mail-form" role="form" action="contactform/contactform.php" method="POST" />

                            <div class="form-group">
                                <input type="name" name="name" class="form-control" id="contact-name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars">
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input type="email" name="email" class="form-control" id="contact-email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email">
                                <div class="validate"></div>
                            </div>
                            <div class="form-group">
                                <input type="text" name="subject" class="form-control" id="contact-subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject">
                                <div class="validate"></div>
                            </div>

                            <div class="form-group">
                                <textarea class="form-control" name="message" id="contact-message" placeholder="Your Message" rows="5" data-rule="required" data-msg="Please write something for us"></textarea>
                                <div class="validate"></div>
                            </div>

                            <div class="loading"></div>
                            <div class="error-message"></div>
                            <div class="sent-message">Your message has been sent. Thank you!</div>

                            <div class="form-send">
                                <button type="submit" class="btn btn-large">Send Message</button>
                            </div>
                        </div>
                    </div>

                </div>


